@import "tailwindcss";

@layer base {
    :root {
        --fontSans: 'Fira Sans', sans-serif;
        --fontSerif: 'Roboto Slab', serif;
    }

    body {
        font-family: var(--fontSans);
    }
}
